VITE_VAPID_PUBLIC_KEY=BNLCvzttW4HPf74o5Eb-50OMawqmXi-W2Ub7eop9n6tm9ydXipi5VF3ArSoHopBBObbbeTgB5wxLdJogWFgYtc8
VAPID_PUBLIC_KEY=BNLCvzttW4HPf74o5Eb-50OMawqmXi-W2Ub7eop9n6tm9ydXipi5VF3ArSoHopBBObbbeTgB5wxLdJogWFgYtc8